@import 'variables';

.button {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.navigation-button {
  a {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: $light-blue;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: transform 150ms, background-color 150ms;
    &:hover {
      transform: translateY(-4px);
      background-color: $light-light-blue;
    }
  }
}

.button-primary {
  background-color: $light-blue;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform 150ms, background-color 150ms;
  color: #fff;
  font-weight: 400;
  &:hover {
    transform: translateY(-4px);
    background-color: $light-light-blue;
  }
}

.scroll-button {
  display: inline-block;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  line-height: 1;
  z-index: 5;
  img {
    height: 20px;
    width: 20px;
  }
}

blockquote {
  border-left: 15px solid #eee;
  margin: 20px 0;
  padding-left: 40px;
}

.text-center {
  text-align: center;
}

.text-block .aligned-block {
  max-width: 800px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.aligned-block.aligned-right {
  margin-left: auto;
}
