/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
	text-decoration-skip: ink;
	color: #354be4;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
