.nf-form-fields-required {
  margin-bottom: 20px;
  font-style: italic;
}

.ninja-forms-field {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nf-form-cont {
  margin-top: 30px;
}

.nf-field-element {
  h3 {
    margin-top: 0;
    padding-top: 0;
    color: #013167;
    text-transform: uppercase;
  }
}

.nf-form-title h3 {
  display: none;
}

.checkbox-standout {
  padding: 20px;
  background-color: #e0e0e0;
  margin: 40px 0;
}

.nf-field-element input[type='button'] {
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.875em;
  transition: box-shadow 150ms, background-color 150ms, transform 150ms;
  background-color: #666;
  color: #fff;
  border: 0;
  margin-top: 10px;
  &:hover {
    transform: translateY(-2px);
    -moz-transform: translateY(-2px) rotate(0.02deg);
    cursor: pointer;
    background-color: #888;
  }
}

.nf-response-msg {
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 10px solid #9195a1;
}

.fa-info-circle:before {
  content: '' !important;
}
