@import 'variables';

$baseline: 1.5rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: 1rem;
$maxFont: 1.25rem;

$h1: 3rem;
$h2: 2.25rem;
$h3: 1.5rem;
$h4: 1.25rem;
$h5: 1rem;

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(
          #{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) /
                #{strip-unit($max-vw - $min-vw)})
        );
      }
    }

    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

html {
  @include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

body {
  line-height: 16px * 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  font-family: 'Work Sans', sans-serif;
}

p {
  line-height: $baseline * 1;
  margin-bottom: $baseline;
  margin-top: 0;
}

.page-content li {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: $baseline;
  font-family: 'Work Sans', serif;
  color: #444;
  line-height: 1.3;
}

.page-banner {
  h1 {
    font-size: $h1 * 2;
  }
}

.cta-text {
  font-size: $h2;
  line-height: $h2;
}

h1 {
  font-size: $h1;
  line-height: $h1;
  margin-top: calc((#{$baseline} - #{$h1}) + #{$baseline});
}

h2 {
  font-size: $h2;
  line-height: $h2;
  margin-top: calc((#{$baseline} - #{$h2}) + #{$baseline}*2);
}

h3 {
  font-size: $h3;
  line-height: $h3;
  margin-top: calc((#{$baseline} - #{$h3}) + #{$baseline}*2);
}

h4 {
  font-size: $h4;
  line-height: $h4;
  margin-top: calc((#{$baseline} - #{$h4}) + #{$baseline}*2);
}

h5 {
  font-size: $h5;
  line-height: $h5;
  margin-top: calc((#{$baseline} - #{$h5}) + #{$baseline}*2);
}

@media (max-width: 680px) {
  .page-banner {
    h1 {
      font-size: $h1 * 1;
      line-height: $h1 / 2;
    }
  }
}

